[submodule "freetype"]
	path = freetype
	url = https://github.com/freetype/freetype.git
[submodule "cglm"]
	path = cglm
	url = https://github.com/recp/cglm.git
[submodule "spirv_reflect"]
	path = spirv_reflect
	url = https://github.com/Clevergua/SPIRV-Reflect.git
